[device]
mode = # mode of operation (play, transalate)
uart_tx = 17
uart_rx = 16
skip_sync = true

# pin button
[button]
button1 = 
button2 =
button3 = 
button4 = #incase of 4 buttons

# pin i2c lcd
[lcd]
device = # device Type (SH1106, SSD1306)
data = 
clock =

# pin i2c 4-digit display
[digitDisp]
data =
clock =
